<!DOCTYPE HTML>
<html>
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/style.css">
</head>
<body>
<div>
        <h4><a href="/login">Войти   Тестовые пользователи: ADMIN: admin:admin    USER 1:1</a></h4>
        <h4><a href="/registration">Зарегистрироваться (Только как юзер)</a></h4>
        <h4><a href="/logout">Выйти</a></h4>
    <h4><a href="/ui/authors/">Управление авторами</a></h4>
    <h4><a href="/ui/books/">Управление книгами(Не готово)</a></h4>
    <h4><a href="/ui/genre/">Управление жанрами(Не готово)</a></h4>
    <h4><a href="/ui/library/">Управление записями о взятых книгах(Не готово)</a></h4>
    <h4><a href="/ui/person/">Управление информацией о людях(Не готово)</a></h4>
</div>
</body>
</html>